<template lang="html">
    <div class="b-slider__wrapper" @click.stop.prevent='disableEditor()'>
      <div class="b-slider">
          <div class="b-slide left" v-if="prevPage">
               <img :src="prevPage.background.src + prevPage.background.imgId"/>
               <h2 class='dragable'
                   :style="{
                    fontFamily:prevPage.title.css.fontFamily,
                    fontSize:prevPage.title.css.fontSize + 'px',
                    color: prevPage.title.css.color,
                    fontWeight:prevPage.title.css.fontWeight,
                    textDecoration: prevPage.title.css.textDecoration,
                    fontStyle:prevPage.title.css.fontStyle,
                    textAlign:prevPage.title.css.textAlign,
                    left: prevPage.title.css.x + 'px',
                    top: prevPage.title.css.y + 'px'}">
                    {{prevPage.title.text.value}}
               </h2>
               <p class='dragable'
                   :style="{
                    fontFamily:prevPage.description.css.fontFamily,
                    fontSize:prevPage.description.css.fontSize + 'px',
                    color: prevPage.description.css.color,
                    fontWeight:prevPage.description.css.fontWeight,
                    textDecoration: prevPage.description.css.textDecoration,
                    fontStyle:prevPage.description.css.fontStyle,
                    textAlign:prevPage.description.css.textAlign,
                    left: prevPage.description.css.x + 'px',
                    top: prevPage.description.css.y + 'px'}">
                    {{prevPage.description.text.value}}
               </p>
          </div>
          <div class="b-slide center" v-if="selectedPage">
              <transition name="slide-fade">
                  <div class="b-slide__fade" v-if='slider.animating'></div>
              </transition>
               <img :src="selectedPage.background.src + selectedPage.background.imgId"/>
               <h2 v-if="!titleEditor"
                   class='dragable'
                   :class='{selected:slider.selectedItem == "title"}'
                   @dblclick.stop.prevent='enableEditor("titleEditor")'
                   @mousedown.stop.prevent='mouseDown($event, "title")'
                   :style="{
                    fontFamily:selectedPage.title.css.fontFamily,
                    fontSize:selectedPage.title.css.fontSize + 'px',
                    color: selectedPage.title.css.color,
                    fontWeight:selectedPage.title.css.fontWeight,
                    textDecoration: selectedPage.title.css.textDecoration,
                    fontStyle:selectedPage.title.css.fontStyle,
                    textAlign:selectedPage.title.css.textAlign,
                    left: selectedPage.title.css.x + 'px',
                    top: selectedPage.title.css.y + 'px'}">
                    {{selectedPage.title.text.value}}
                </h2>
               <v-textarea v-if="titleEditor"
                    :autofocus='true'
                    outline
                    class='b-slide__input'
                    @click.stop.prevent=''
                    v-model="$store.state.story.pages[slider.currentIndex].title.text.value"
                   :style="{
                    fontFamily:selectedPage.title.css.fontFamily,
                    fontSize:selectedPage.title.css.fontSize + 'px',
                    color: selectedPage.title.css.color,
                    fontWeight:selectedPage.title.css.fontWeight,
                    textDecoration: selectedPage.title.css.textDecoration,
                    fontStyle:selectedPage.title.css.fontStyle,
                    textAlign:selectedPage.title.css.textAlign,
                    left: selectedPage.title.css.x + 'px',
                    top: selectedPage.title.css.y + 'px'}">
               </v-textarea>
               <p v-if="!descriptionEditor"
                  class='dragable'
                  :class='{selected:slider.selectedItem == "description"}'
                  @mousedown.stop.prevent='mouseDown($event, "description")'
                  @dblclick.stop.prevent='enableEditor("descriptionEditor")'
                  :style="{
                    fontFamily:selectedPage.description.css.fontFamily,
                    fontSize:selectedPage.description.css.fontSize + 'px',
                    color: selectedPage.description.css.color,
                    fontWeight:selectedPage.description.css.fontWeight,
                    textDecoration: selectedPage.description.css.textDecoration,
                    fontStyle:selectedPage.description.css.fontStyle,
                    textAlign:selectedPage.description.css.textAlign,
                    left: selectedPage.description.css.x + 'px',
                    top: selectedPage.description.css.y + 'px'}">
                    {{selectedPage.description.text.value}}
                </p>
                <v-textarea v-if="descriptionEditor"
                    :autofocus='true'
                    outline
                    class='b-slide__input'
                    @click.stop.prevent=''
                    v-model="$store.state.story.pages[slider.currentIndex].description.text.value"
                    :style="{
                      fontFamily:selectedPage.description.css.fontFamily,
                      fontSize:selectedPage.description.css.fontSize + 'px',
                      color: selectedPage.description.css.color,
                      fontWeight:selectedPage.description.css.fontWeight,
                      textDecoration: selectedPage.description.css.textDecoration,
                      fontStyle:selectedPage.description.css.fontStyle,
                      textAlign:selectedPage.description.css.textAlign,
                      left: selectedPage.description.css.x + 'px',
                      top: selectedPage.description.css.y + 'px'}">
                </v-textarea>
          </div>
          <div class="b-slide right" v-if="nextPage">
               <img :src="nextPage.background.src + nextPage.background.imgId"/>
               <h2 class='dragable'
                   :style="{
                    fontFamily:nextPage.title.css.fontFamily,
                    fontSize:nextPage.title.css.fontSize + 'px',
                    color: nextPage.title.css.color,
                    fontWeight:nextPage.title.css.fontWeight,
                    textDecoration: nextPage.title.css.textDecoration,
                    fontStyle:nextPage.title.css.fontStyle,
                    textAlign:nextPage.title.css.textAlign,
                    left: nextPage.title.css.x + 'px',
                    top: nextPage.title.css.y + 'px'}">
                    {{nextPage.title.text.value}}
                </h2>
               <p class='dragable'
                   :style="{
                    fontFamily:nextPage.description.css.fontFamily,
                    fontSize:nextPage.description.css.fontSize + 'px',
                    color: nextPage.description.css.color,
                    fontWeight:nextPage.description.css.fontWeight,
                    textDecoration: nextPage.description.css.textDecoration,
                    fontStyle:nextPage.description.css.fontStyle,
                    textAlign:nextPage.description.css.textAlign,
                    left: nextPage.description.css.x + 'px',
                    top: nextPage.description.css.y + 'px'}">
                    {{nextPage.description.text.value}}
               </p>
          </div>
      </div>
      <slider-counter v-if="slider.count > 1"></slider-counter>
  </div>
</template>

<script src="./slider.js"></script>

<style lang="scss">
    .b-slider{
        width: 100%;
        //min-height: 55rem;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        position: relative;
        &__wrapper{
            background: $color-bunker;
            overflow: hidden;
            flex-flow: column nowrap;
            height: 90vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .b-slide{
        position: absolute;
        user-select: none;
        z-index: 1;
        transform: scale(0.9);
        background: $color-pearl;
        width: 32%;
        height:auto;
        box-shadow: 6px 7px 9px -1px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border-radius: 18px;
        transition: all 0.4s ease;
        opacity: 0.3;
        & img{
            width: 100%;
            display: block;
        }
        & h2,p{
            user-select: none;
            cursor: move;
            max-width: 90%;
            &.selected{
                    border: 1px dashed blue;
            }
        }

        &__input{
            position: absolute;
        }
        &.center{
            position: relative;
            transform: scale(1);
            z-index: 10;
            opacity: 1;
        }
        &.left{
            left:0;
        }
        &.right{
            right:0;
        }
        &__fade{
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
            background: rgba(0,0,0,1);
            z-index: 2;
        }
    }

    .dragable{
        position: absolute;
        top:0;
        left: 0;
        border:1px dashed transparent;
    }

    .slide-fade-enter-active {
      transition: all .25s ease;
      opacity: 1;
    }
    .slide-fade-leave-active {
      transition: all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0);
      opacity: 1;
    }
    .slide-fade-enter, .slide-fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
      opacity: 0;
    }
</style>
