<template lang="html">
    <div class="b-counter">
      <div class="b-counter__controls">
          <div v-if='slider.currentIndex > 0' class="control left noselect" @click.stop.prevent="prevSlide">&lt;</div>
          <div v-if='slider.currentIndex < slider.count-1' class="control right noselect" @click.stop.prevent="nextSlide">&gt;</div>
      </div>
      <div  class="b-counter__dots">
          <span
              v-for='(page, index) in pages'
              class="dot"
              :class="{current:slider.currentIndex == index }"
              :key='index + 1'>
          </span>

      </div>
      <div class="b-counter__current-slide"><span></span></div>
  </div>
</template>

<script>
export default {
    name:'slider-counter',
    computed:{
        slider(){
            return this.$store.getters['story/slider'];
        },
        pages(){
            return this.$store.getters['story/pages']
        }
    },
    methods:{
        prevSlide(){
            if(this.slider.currentIndex - 1 >= 0) {
                this.$store.commit('story/updateSlider',{animating:true})
                this.$store.commit('story/updateSlider', {currentIndex:this.slider.currentIndex - 1, count:this.slider.count});
                this.$store.commit('backgrounds/updateSelectedBackground', this.pages[this.slider.currentIndex].background );
                setTimeout(()=>{
                    this.$store.commit('story/updateSlider',{animating:false})
                }, 220);
            }
            return;
        },
        nextSlide(){
            if(this.slider.currentIndex + 1 <= this.slider.count - 1) {
                this.$store.commit('story/updateSlider',{animating:true})
                this.$store.commit('story/updateSlider', {currentIndex:this.slider.currentIndex+1, count:this.slider.count});
                this.$store.commit('backgrounds/updateSelectedBackground', this.pages[this.slider.currentIndex].background  );
                setTimeout(()=>{
                    this.$store.commit('story/updateSlider',{animating:false})
                }, 220);
            }
            return;
        }
    }
}
</script>

<style lang="scss">
.b-counter{
        min-width: 14.2rem;
        position: relative;
        color: white;
        margin-top: 1.95rem;

        &__controls{
            position: absolute;
            width: 100%;
            top: -2.4rem;
            font-size:3.2rem;

            & .control{
                &:hover{
                    cursor: pointer;
                }
            }

            & .left{
                position: absolute;
                left: 0;
            }
            & .right{
                position: absolute;
                right: 0;
            }
        }
        &__dots{
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            margin: 0 4rem;
            margin-bottom: 1rem;
            & .dot{
                width: 1.6rem;
                height: 0.2rem;
                background-color: $color-ebony-clay;
                display: inline-block;
                margin: 0 0.4rem;
                &.current{
                    background: $color-pearl;
                    height: 0.3rem;
                }
            }
        }

        &__current-slide{
            text-align: center;
        }
    }
    .noselect {
      -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome and Opera */
    }
</style>
