<template lang="html">
    <div class='b-settings-editor'>
        <h2 class='white--text mb-5 font-weight-light'>ANIMATION SETTINGS</h2>
        <v-form>
            <v-btn
                v-for="(item, index) in items"
               :key="index+1"
               flat
               class='b-tools__item d-inline-block'
               :color='item.selected ?"white" :"ebonyClay"'
               @click.prevent.stop='iconClickHandler( item )'
            >
                <v-icon>{{item.icon}}</v-icon>
                {{item.label}}
           </v-btn>
       </v-form>
    </div>

</template>

<script>
export default {
    name:'animation-editor',
    data(){
        return{
            items:[
                {label:'Title', component:'v-btn', icon:'settings', selected:true, value:'Button1'},
                {label:'Title', component:'v-btn', icon:'settings', selected:false, value:'Button2'},
            ]
        }
    },
    computed:{
        appState(){ return this.$store.getApp },
        editorItem(){ return this.$store.getters['tools/getActiveTool'] }
    },
    methods:{
        iconClickHandler(item){
            return item;
        }
    }
}
</script>

<style lang="css">
</style>
