<template lang="html">
    <div class='b-settings-editor'>
        <h2 class='white--text mb-5 font-weight-light'>BACKGROUND SETTINGS</h2>
         <v-text-field
           label="Search Image"
           prepend-icon="search"
           dark
           v-model='search'
         ></v-text-field>
         <v-layout row wrap class="b-backgrounds mirage">
             <v-flex xs4
                v-for='(bcg, index) in filteredBackgrounds'
                :key='index+1'
                class='mb-4 b-backgrounds__item'
                :class='{selected:bcg.selected}'
                @click.stop.prevent='imgClickHandler(bcg)'
             >
                 <v-img :src="`${bcg.imgSrc}${bcg.thumb}${bcg.imgId}`" aspect-ratio="0.56"></v-img>
                 <div class="mt-1">{{bcg.name}}</div>
             </v-flex>
         </v-layout>
    </div>

</template>

<script>
export default {
    name:'background-editor',
    data(){
        return{
            items:[
                {label:'Title', component:'v-text-field', value:'1st Amp Story In Vuetify'},
                {label:'Publisher', component:'v-text-field', value:'Diwanee Serbia'},
                {label:'Publisher Logo Source', component:'v-text-field', value:'./src/logo.jpg'},
                {label:'Poster Portrait Source', component:'v-text-field', value:'./src/posterPortrait.jpg'},
                {label:'Ads', component:'v-switch', value:false},
            ],
            search:'',
        }
    },
    computed:{
        backgrounds(){return this.$store.getters['backgrounds/backgrounds']},
        //editorItem(){ return this.$store.getters['tools/selectedTool'] }
        filteredBackgrounds(){
            return this.backgrounds.filter( (img)=>{
                return img.name.match(this.search)
            })
        }
    },
    methods:{
        imgClickHandler(bcg){
            this.$store.commit('backgrounds/updateSelectedBackground', bcg )
            this.$store.commit('story/updateBackgroundImage', bcg)
        }
    }
}
</script>

<style lang="scss">
.b-backgrounds{
    height: 40rem;
    overflow-y: scroll;

    &__item{
        & .v-image{
            border: 2px solid transparent;
            opacity: 0.7;
        }

        &.selected{
            & .v-image{
                border: 2px solid white;
                opacity: 1;
            }
        }
    }
}
</style>
