<template lang="html">
    <div class='b-settings-editor'>
        <h2 class='white--text mb-5 font-weight-light'>BACKGROUND SETTINGS</h2>
        <v-form>
            <component
            v-for='(item, index) in items'
            :is="item.component"
            :key='index + 1'
            class='mb-3'
            dark
            color="white"
            v-model="item.value"
            :label="item.label"
            >
            </component>
         </v-form>
         <p>{{editorItem}}</p>
    </div>

</template>

<script>
export default {
    name:'bookend-editor',
    data(){
        return{
            items:[
                {label:'Title', component:'v-text-field', value:'1st Amp Story In Vuetify'},
                {label:'Publisher', component:'v-text-field', value:'Diwanee Serbia'},
                {label:'Publisher Logo Source', component:'v-text-field', value:'./src/logo.jpg'},
                {label:'Poster Portrait Source', component:'v-text-field', value:'./src/posterPortrait.jpg'},
                {label:'Ads', component:'v-switch', value:false},
            ]
        }
    },
    computed:{
        appState(){ return this.$store.getApp },
        editorItem(){ return this.$store.getters['tools/getActiveTool'] }
    }
}
</script>

<style lang="css">
</style>
