<template lang="html">
  <div class="c-input-color">
    <div class="c-input-color__inner">
      <div class="c-input-color__picked" :style="{background:updateInput}"></div>
      <span class='c-input-color__title'>color: {{updateInput}}</span>
    </div>
    <input  type="color" class='c-input-color__input' v-model="updateInput">
  </div>
</template>

<script>
export default {
    name:'color-picker',
    computed: {
        //{ label:editor.name, propName:editor.prop, parent:editor.vModel, setter:'setPageItem' }
        updateInput: {
          get () {
              return this.$store.state.story.pages[this.slider.currentIndex][this.slider.selectedItem].css.color;
          },
          set (newValue) {
              return this.$store.commit('story/updateCSS', {type:this.slider.selectedItem, newValues:{color:newValue} })
          }
        },
        slider(){
          return this.$store.getters["story/slider"];
        }
    },
}
</script>

<style lang="scss">
    .c-input-color{
        font-family: 'Roboto';
        color: rgba(255,255,255,0.7);
        font-size:14px;
        margin-bottom: 2.4rem;
        position: relative;

        &__inner{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
        }

        &__picked{
            width: 3rem;
            height: 2.4rem;
            margin-right: 1rem;
        }

        &__title{
            display: block;
            margin-bottom: 0;
        }

        &__input{
            position: absolute;
            top: 0;
            opacity: 0;
            color: $color-pearl;
            background: transparent;
            border: 1px solid $color-gray;
            padding: 1rem 1.6rem;
            width: 100%;
        }
    }
</style>
