<template lang="html">
    <div class='b-settings-editor'>
        <h2 class='white--text mb-5 font-weight-light'>TEXT SETTINGS</h2>
        <v-form>
            <v-select :items="fonts" label="Select Font" dark color='white' v-model="fontFamily"/>
            <v-text-field class='mb-3' dark color='white' :label="slider.selectedItem +' font size'" v-model="$store.state.story.pages[slider.currentIndex][slider.selectedItem].css.fontSize"/>
            <color-picker/>
            <v-textarea class='mb-3' dark color='white'  :label="slider.selectedItem + ' text'" v-model="$store.state.story.pages[slider.currentIndex][slider.selectedItem].text.value"/>
            <v-switch dark color='white' label='Bold' v-model='$store.state.story.pages[slider.currentIndex][slider.selectedItem].css.fontWeight' true-value="800" false-value="400"></v-switch>
            <v-switch dark color='white' label='Italic' v-model='$store.state.story.pages[slider.currentIndex][slider.selectedItem].css.fontStyle' true-value="italic" false-value="normal"></v-switch>
            <v-switch dark color='white' label='Underline' v-model='$store.state.story.pages[slider.currentIndex][slider.selectedItem].css.textDecoration' true-value="underline" false-value="none"></v-switch>
            <v-switch dark color='white' label='Center' v-model='$store.state.story.pages[slider.currentIndex][slider.selectedItem].css.textAlign' true-value="center" false-value="left"></v-switch>
         </v-form>
    </div>

</template>

<script>
import ColorPicker from './ColorPicker.vue'
export default {
    name:'settings-editor',
    components:{ColorPicker},
    data(){
        return{
            fonts:['Arial','Verdana','Helvetica'],
        }
    },
    computed:{
      slider(){
        return this.$store.getters["story/slider"];
      },

      title: {
         get () {
             return this.$store.getters["story/selectedPage"][this.slider.selectedItem].text.value;
         },
         set (newValue) {
           return this.$store.commit('story/updateTitle', newValue)
         }
       },
      fontFamily: {
         get () {
             return this.$store.getters["story/selectedPage"][this.slider.selectedItem].css.fontFamily;
         },
         set (newValue) {
           return this.$store.commit('story/updateCSS', {type:this.slider.selectedItem, newValues:{fontFamily:newValue} })
         }
       },
    }
}
</script>

<style lang="css">
</style>
