<template lang="html">
    <v-flex xs1 class='b-tools mirage px-4 text-lg-center'>
        <v-btn
            v-for="(tool, index) in tools"
           :key="index+1"
           flat
           icon
           class='b-tools__item d-inline-block'
           :color='tool.selected ?"white" :"ebonyClay"'
           @click.prevent.stop='toolClickHandler( index )'
        >
            <slot :tool='tool'></slot>
       </v-btn>
    </v-flex>
</template>

<script>
export default {
    name:'tools-list',
    data(){
        return{  }
    },
    methods:{
        toolClickHandler( index ){
            this.$store.commit('tools/updateSelectedTool', {selectedTabName:this.selectedTab.name, index})
        },
    },
    computed:{
        tools(){ return this.$store.getters['tools/selectedTools'] },
        selectedTab(){ return this.$store.getters.selectedTab}
    },
}
</script>


<style lang="scss">
.b-tools{
    display: flex;
    flex-flow: column;
    align-items: center;
}
</style>
