<template lang="html">
    <v-content fill-height class='dark'>
         <v-container fluid fill-height class='pa-0'>
             <v-layout align-space-between justify-start row fill-height class='white--text'>
                 <tools-list>
                     <!-- Generates tools list -->
                     <v-icon slot-scope='{tool}'>{{tool.icon}}</v-icon>
                 </tools-list>
                 <v-flex xs3 class='mirageLight py-3 px-4'>
                     <!-- dynamic EDITOR components injection -->
                     <component :is='selectedTool.name+"-editor"'></component>
                 </v-flex>
                 <v-flex xs8 class='bunker pa-4'>
                         <!-- content from <router-view> will be auto injected in slot -->
                         <slot></slot>
                  </v-flex>
             </v-layout>
         </v-container>
    </v-content>
</template>

<script>
import ToolsList from "@/components/ui/tools/ToolsList"
//EDITORS
import SettingsEditor from "@/components/ui/editors/SettingsEditor"
import LayoutEditor from "@/components/ui/editors/LayoutEditor"
import BackgroundEditor from "@/components/ui/editors/BackgroundEditor"
import TextEditor from "@/components/ui/editors/TextEditor"
import AnimationEditor from "@/components/ui/editors/AnimationEditor"
import BookendEditor from "@/components/ui/editors/BookendEditor"
export default {
    name:'defautl-layout',
    data(){
        return{}
    },
    components:{ToolsList, SettingsEditor, LayoutEditor, BackgroundEditor, TextEditor, AnimationEditor, BookendEditor},
    computed:{
        selectedTool(){
            return this.$store.getters['tools/selectedTool'];
        }
    }
}
</script>

<style lang="scss">

</style>
