<template>
  <div class="p-home">
      <slider/>
  </div>
</template>

<script>
import Slider from '@/components/ui/slider/Slider.vue'
  export default {
      components:{Slider,}
  }
</script>

<style lang='scss'>

</style>
