<template>
  <v-app>
    <navigation/>
     <!-- the router view which contains main content -->
    <component :is="layout">
      <router-view/>
    </component>
  </v-app>
</template>

<script>
import Navigation from "@/components/ui/Navigation";
import API from '@/api.js';
const res = new API();

export default {
    name: 'App',
    components:{Navigation},
    computed: {
        layout () {
          return this.$route.meta.layout || 'DefaultLayout'
        }
     },
     //HOOKS
     created(){
        res.get("amp.json")
            .then(response=>{
                console.log("RESPONISING");
                //console.log(response.slice(1)[0].pages);
                //dispatch action to fill initial story data in Vuex
                this.$store.dispatch("story/setPages", response.slice(1)[0].pages)
            });
     }
}
</script>
