$color-white                : #ffffff;
$color-pearl                : #f8f8f8;
$color-black                : #000000;
$color-bunker               : #0C0F17;
$color-mirage               : #151a26;
$color-mirage-light         : #1b212f;
$color-royal-blue           : #5628ee;
$color-ebony-clay           : #2F3545;
$color-gray                 : #626a7b;
$color-fb                   : #4366b0;
$color-gp                   : #da483e;
$color-twt                  : #2394de;

$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.625rem;
