<template lang="html">
    <v-toolbar height='60px' class="navbar mirage pl-0">
      <v-icon color='royalBlue' class='pl-4 pr-4 mr-4'>description</v-icon>
      <v-toolbar-items class="hidden-sm-and-down">
          <v-btn
            v-for="(tab, index) in tabs"
            :key='index+1'
            :class="tab.selected ?'mirageLight white--text' :'mirage white--text' "
            @click.prevent.stop='tabClickHandler(index)'>
            {{tab.name}}
         </v-btn>
      </v-toolbar-items>
    </v-toolbar>
</template>

<script>
export default {
    name:'navigation',
    data(){return{}},
    methods:{
        tabClickHandler( index ){
            this.$store.commit('updateSelectedTab', {index})
            this.$store.commit('tools/updateSelectedTool', {selectedTabName:this.tabs[index].name, index:this.acitveTool.index})
        }
    },

    computed:{
       // appState(){
       //     return this.$store.getters.getApp;
       // },
       tabs(){
           return this.$store.getters.tabs;
       },
       acitveTool(){
           return this.$store.getters['tools/selectedTool'];
       }

    }
}
</script>

<style lang="scss">
    .navbar{
        border-bottom: 0px solid red !important;
    }
</style>
